<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="pokemon">
    <ion-card-header>
      <ion-card-title>{{pokemon_name[pokemon.name]}}</ion-card-title>
      <ion-card-subtitle>
        {{createTypeHtml(pokemon.types)}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="{{pokemon.sprites.front_default}}">
      <p>
        高さ: {{pokemon.height / 10}}cm<br>
        重さ: {{pokemon.weight / 10}}kg<br>
      </p>

      <h1>ステータス</h1>
      <div *ngFor="let stat of pokemon.stats">
        <label>{{stat.stat.name}} : {{stat.base_stat}}</label>
        <ion-range [disabled]="true" value="{{stat.base_stat / 180 * 100}}"></ion-range>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>